header {
    font-size: 48px;
    text-align: center;
    margin: 15px 0;
    font-family: 'VT323', monospace;
    background-color: grey;
}

.player-one-box {
    float: left;
    background-color: grey;
    width: 45%;
    text-align: center;
    padding: 15px;
}

.player-two-box {
    float: right;
    background-color: grey;
    width: 45%;
    text-align: center;
    padding: 15px;
}

.currentBar {
    font-size: 24px;
}