header {
    font-size: 48px;
    text-align: center;
    margin: 15px 0;
    font-family: 'VT323', monospace;
    background-color: grey;
}

.player-one-box {
    float: left;
    background-color: grey;
    width: 85%;
    text-align: center;
    padding: 15px;
}

.player-two-box {
    float: right;
    background-color: grey;
    width: 85%;
    text-align: center;
    padding: 15px;
}

.currentBar {
    font-size: 24px;
    background-color: palegoldenrod;
    margin: 15px 0;
}

#reactionImage {
    margin-top: 20px;
    display: none;
}

.chatlog {
    text-align: center;
    margin-top: 20px;
}